@model Web365Domain.Other.LayoutGroupItem
@{ Layout = null; }

@if (Model != null && Model.LayoutContents != null && Model.LayoutContents.Any())
{
    @*<div id="aboutus" class="container-fluid" data-aos="fade-up">*@
        <div class="title">
            <h2>Về chúng tôi</h2>
            <p>G-Store luôn nỗ lực hàng ngày nhằm mang lại những giá trị vượt bậc, sự tiện lợi, nhanh chóng cho mọi khách hàng, cộng đồng sử dụng ứng dụng G-Store</p>
        </div>
        @foreach (var item in Model.LayoutContents)
        {
            <div class="panel-group faq-inner-accordion"
                 id="accordion"
                 role="tablist">
                <div class="panel panel-default" style="background-color: #ffffff">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                               data-parent="#accordion"
                               href="#first-question-1"
                               class="btn-accordion"
                               aria-expanded="true"
                               role="button">
                                <i class="fa fa-plus"></i>
                                @item.Name                             
                            </a>
                        </h4>
                    </div>
                    <div id="first-question-1"
                         class="panel-collapse collapse in"
                         aria-expanded="true"
                         role="tabpanel"
                         style="">
                        <div class="panel-body">
                            @Html.Raw(item.Detail)
                        </div>
                    </div>
                </div>              
            </div>
        }
    
}

