@model Web365Domain.ArticleItem

<div id="introduction" class="row__up introduction__container">
    <div data-aos="fade-up">
        <h2>@Model.Title</span></h2>
        @Html.Raw(Model.Detail)
    </div>
</div>



