@*@using Web365.App_Code
@using Web365Utility
@using Web365Domain
@model Web365Models.ListArticleModel
@{
    ViewBag.Title = "OpenLetter";
    List<Web365Domain.ArticleItem> ltsArticle = ViewBag.ltsArticle;
}
  

<div id="introduction" class="row__up introduction__container">
    @if (ltsArticle != null && ltsArticle.Any())
    {
        foreach (var item in ltsArticle.Take(1))
        {
            <div data-aos="fade-up">
                <h2>@item.Title</h2>
                <div class="layout__intro container container__get">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <iframe id="video__intro"
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/RGJVQj5Sczw"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="col-button col-md-6 col-lg-6">
                            <div class="introduction__button">
                                <i class="fas fa-play"></i>
                                <span class="ripple"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>*@
