@model Web365Domain.Other.LayoutGroupItem
@{
    Layout = null;
}



<div class="row__up feature__container container__partner__bottom"
     data-aos="fade-up">
    <h2> @ResourceLanguage.Partners</h2>
    <p class="title">Các đối tác liên kết với G-STORE</p>
    <div class="container__swiper container">
        @*<div class="swiper-container mySwiper2 swiper__partner">*@
        <div class="swiper-container mySwiperPartner swiper__partner">
            <div class="swiper-wrapper">
                @if (Model.LayoutContents.Any())
                {
                    foreach (var item in Model.LayoutContents)
                    {
                        <div class="swiper-slide">
                            <img src="@Web365Utility.Web365Utility.GetPathPicture(item.UrlPicture)" alt="@item.Name" />
                        </div>

                    }

                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
</div>
