
@{
    ViewBag.Title = "ServiceQuality";
}

<div class="best_Service_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                <div class="tb_left_heading_wraper tb_center_dark_heading  tb_white_heding tb_bottompadder30">

                    <h3>CHẤT LƯỢNG DỊCH VỤ </h3>
                    <h2><span></span></h2>
                </div>
            </div>

            <div class="tb_service_tab_wrapper ptb-100">
                <div class="tab-area clearfix">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 ">
                        <!-- Nav tabs -->
                        <ul id="tb_service_tab_wrapper" class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="#contentThree-1" data-toggle="tab">
                                    <i class="flaticon-bank"></i>
                                    DỊCH VỤ TƯ VẤN
                                </a>
                            </li>
                            <li>
                                <a href="#contentThree-2" data-toggle="tab">
                                    <i class="flaticon-house"></i>
                                    MUA BÁN KÍ GỬI
                                </a>
                            </li>
                            <li>
                                <a href="#contentThree-3" data-toggle="tab">
                                    <i class="flaticon-leaf"></i>
                                    THIẾT KẾ THI CÔNG
                                </a>
                            </li>
                            <!-- <li><a href="#contentThree-4" data-toggle="tab"><i class="flaticon-industry"></i>
                                    Damp Cleaning </a>
                            </li>
                            <li><a href="#contentThree-5" data-toggle="tab"><i class="flaticon-roll"></i>
                                    GIÁ DỊCH VỤ</a>
                            </li> -->

                        </ul>
                    </div>

                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 response_tab_btm">
                        <div role="tabpanel" class="tab-panel">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="contentThree-1">

                                    <h1>MÔ TẢ </h1>

                                    <!-- <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. Nullam eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.
                                        <br>
                                        <br> Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada ultricies. Duis ornare ex neque.</p> -->
                                    <div class="tb_service_tab_list">
                                        <div class="table-responsive tb_list_item">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>GIÁ DỊCH VỤ</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_1">4.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>CHẤT LƯỢNG</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                                                        <td class="tb_tab_list_rating_2">5.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>NGHIỆP VỤ</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                                                        <td class="tb_tab_list_rating_3">5.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>HẬU MÃI</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                                                        <td class="tb_tab_list_rating_4">5.0</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contentThree-2">

                                    <h1>MÔ TẢ </h1>

                                    <!-- <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. Nullam eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.
                                        <br>
                                        <br> Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada ultricies. Duis ornare ex neque.</p> -->
                                    <div class="tb_service_tab_list">
                                        <div class="table-responsive tb_list_item">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>survey</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_1">3.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>repair</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_2">4.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>building repairs</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                                                        <td class="tb_tab_list_rating_3">5.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>woodowarm treatment</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_4">3.0</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="contentThree-3">

                                    <h1>MÔ TẢ</h1>

                                    <!-- <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. Nullam eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.
                                        <br>
                                        <br> Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada ultricies. Duis ornare ex neque.</p> -->
                                    <div class="tb_service_tab_list">
                                        <div class="table-responsive tb_list_item">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>survey</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_1">3.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>repair</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_2">4.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>building repairs</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                                                        <td class="tb_tab_list_rating_3">5.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>woodowarm treatment</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_4">3.0</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contentThree-4">

                                    <h1>Damp Cleaning : Maecenas imperdiet tristique nulla, sit amet mollis quis <a href="#"> Expertise. </a></h1>

                                    <p>
                                        Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. Nullam eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.
                                        <br>
                                        <br> Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada ultricies. Duis ornare ex neque.
                                    </p>
                                    <div class="tb_service_tab_list">
                                        <div class="table-responsive tb_list_item">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>survey</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_1">3.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>repair</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_2">4.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>building repairs</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                                                        <td class="tb_tab_list_rating_3">5.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>woodowarm treatment</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_4">3.0</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contentThree-5">

                                    <h1>Site Survey : Maecenas imperdiet tristique nulla, sit amet mollis quis <a href="#"> Expertise. </a></h1>

                                    <p>
                                        Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. Nullam eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.
                                        <br>
                                        <br> Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada ultricies. Duis ornare ex neque.
                                    </p>
                                    <div class="tb_service_tab_list">
                                        <div class="table-responsive tb_list_item">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>survey</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_1">3.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>repair</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_2">4.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>building repairs</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                                                        <td class="tb_tab_list_rating_3">5.0</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-check"></i>
                                                        </td>
                                                        <td>

                                                            <div class="table_cart_cntnt">
                                                                <h1>woodowarm treatment</h1>

                                                            </div>
                                                        </td>
                                                        <td> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star list_clr"></i> <i class="fa fa-star list_clr"></i></td>
                                                        <td class="tb_tab_list_rating_4">3.0</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
            </div>
            <!-- /.row -->

            <div class="best_Service_wrapper_img">
                <img class="img-responsive" src="~/Content/BIDELAND/images/best_service_img.png" alt="img">
            </div>
        </div>

        <!-- /.container -->
    </div>

</div>

