/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* display none until init */
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.st-image-slider.owl-carousel .owl-item img {
    width: 100%;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.st-offer-slider .offer-inner {
    display: table;
    table-layout: fixed;
}

.st-offer-slider .offer-title {
    overflow: hidden;
    margin-bottom: 30px;
}

.st-offer-slider .offer-title h4 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}

.st-offer-slider .offer-title h4:before {
    content: "";
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    width: 17px;
    height: 17px;
    top: 8px;
    margin-right: 8px;
    border: 3px solid #0eb9d9;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.st-offer-slider .offer-button {
    float: right;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 5px 8px;
    border: 2px solid #303030;
    color: #303030;
    margin-right: 20px;
    position: relative;
    top: 6px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit- transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.st-offer-slider .offer-button:hover {
    background-color: #303030;
    color: #fff;
}

.owl-theme .owl-controls .owl-pagination {
    text-align: center;
    margin-top: 30px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    width: 46px;
    height: 46px;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-top: -25px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    -webkit-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.owl-theme .owl-controls .owl-buttons div:hover {
    -webkit-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 20px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 20px;
}

.st-offer-slider.owl-theme .owl-controls .owl-buttons {
    margin-top: 0;
    position: absolute;
    right: 50%;
    text-align: center;
    bottom: 2px;
}

.st-offer-slider.owl-theme .owl-controls .owl-buttons div {
    position: relative;
    margin-right: 2px;
    top: auto;
    display: inline-block;
    right: auto;
    left: auto;
    height: 36px;
    width: 36px;
    line-height: 32px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.st-offer-slider.owl-theme .owl-controls .owl-buttons div:hover {
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline; /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 9px;
    height: 9px;
    margin: 3px;
    opacity: .35;
    background-color: #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wpb_color .owl-theme .owl-controls .owl-page span {
    background-color: #fff;
}

.owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span {
    border-color: #fdbd10;
    background-color: #fdbd10;
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.html) no-repeat center center
}