body {
  font-family: 'Quicksand', sans-serif !important;
}
.timesh {
    display: flex;
    justify-content:space-between;
}
.st-btn.st-last.st-remove-label {
    display: inline-block !important;
}
#st-1.st-has-labels .st-btn.st-remove-label > span {
    display: inline-block !important;
}
@media screen and (max-width: 576px) {
    #st-1.st-has-labels .st-btn.st-remove-label > span {
        display: none !important;
    }
    #st-1 .st-btn > span {
       display: none !important;
    }
    #st-1.st-has-labels .st-btn {
        min-width: 50px !important;
    }
 } 
   

.layout__container {
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 18px;
}

.layout__container .title__box__nearest {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
}

.post__request {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
}

.post__request img {
  width: 100%;
  height: auto;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.post__request .content__blog {
  padding: 40px 30px;
  position: relative;
}

.post__request .blog__date {
  font-size: 18px;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0;
  position: absolute;
  top: -40px;
  color: white;
  background: #f0bb45;
  border-radius: 18px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.post__request .blog__date i {
  margin-right: 10px;
}

.post__request a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.post__request:hover .blog__date {
  background: #eb3971;
}

.input__search__blogs {
  position: relative;
}

.input__search__blogs input {
  width: 100%;
  padding: 10px 20px 10px 0px;
  border: none;
  border-bottom: 2px solid #f0bb45;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.input__search__blogs input:focus {
  outline: none;
}

.input__search__blogs button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.input__search__blogs:hover input {
  border-color: #eb3971;
}

.layout__content__near {
  margin-top: 50px;
}

.post__component {
  margin-bottom: 50px;
}

.near__post__component {
  padding: 20px 0px;
}

.near__post__component img {
  width: 100%;
  height: auto;
}

.near__post__component a {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
   number of lines to show 
  -webkit-box-orient: vertical;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.near__post__component .date__near {
  font-size: 14px;
  margin: 0;
}

.near__post__component .content__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.near__post__component:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/*/*# sourceMappingURL=blog.css.map */