.margin-btm-30 {
    margin-bottom: 30px;
}

.space30 {
    height: 30px;
}

.btn-skin {
    background-color: #0064AF;
    text-shadow: 0 1px rgba(0,0,0,.15);
    color: #fff;
}

    .btn-skin:hover {
        background-color: #1f099c;
        color: #fff;
    }

.margin-btm-20 {
    margin-bottom: 20px;
}

.contact-title { 
    border-bottom: 2px solid #0064AF;
    padding-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: "Open Sans",sans-serif;
    color: #333;
    font-weight: 400;
}

.h3, h3 {
    font-size: 24px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.font-bold {
    font-weight: bold;
}

.font-lightblack {
    color: #797979;
}

.margin-btm-10 {
    margin-bottom: 10px;
}
