@using Web365.App_Code
@using Web365Models
@model Web365Domain.LayoutContentItem
@{
    Layout = null;
    var introduce = ViewBag.Introduces as ListArticleModel;
    var topService = ViewBag.TopServices as ListArticleModel;
}


<footer class="footer__images">
    <div class="container__footer">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 logo__footer logo__container">
                <div class="logo__inside">
                    <a href="/">
                        <img src="/Content/GStoreWeb/images/img/images/logo4.png" />
                    </a>
                </div>
                <p>G-Store tech company</p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-footer">
                <ul class="list__footer">
                    <li>Ứng dụng kết nối thông minh G-STORE</li>
                    <li>
                        Giải pháp hàng đầu trong lĩnh vực chia sẻ, trao đổi hàng hóa,
                        dịch vụ
                    </li>
                    <li class="logo__social">
                        <a href="https://www.facebook.com/G-STORE-K%E1%BA%BFt-N%E1%BB%91i-Gi%C3%A1-Tr%E1%BB%8B-107704574832148"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-android"></i></a>
                        <a href="#"><i class="fab fa-apple"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-footer">
                <ul class="list__footer">
                    <li>Địa chỉ liên hệ</li>
                    <li class="row__footer row__ft">
                        <p><i class="fas fa-map-marker-alt"></i></p>
                        <p>
                            @Html.Raw(ViewBag.Address.Content)
                        </p>
                    </li>
                    <li class="row__footer">
                        <p><i class="fas fa-mobile-alt"></i></p>
                        <p>@Html.Raw(ViewBag.Phone.Content)</p>
                    </li>
                    <li class="row__footer">
                        <p><i class="far fa-envelope"></i></p>
                        <p>@Html.Raw(ViewBag.Email.Content)</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div id="button-contact-vr">
    <div id="gom-all-in-one">
        <!-- v3 -->
        <!-- contact -->
        <!-- end contact -->
        <!-- viber -->
        <div id="viber-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a href="viber://add?number=0392905996">
                        <img src="/Content/GStoreWeb/images/img/images/viber.png">
                    </a>
                </div>
            </div>
        </div>
        <!-- end viber -->
        <!-- zalo -->
        <div id="zalo-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a href="https://www.facebook.com/G-STORE-K%E1%BA%BFt-N%E1%BB%91i-Gi%C3%A1-Tr%E1%BB%8B-107704574832148">
                        <img src="/Content/GStoreWeb/images/img/images/facebook3.png">
                    </a>
                </div>
            </div>
        </div>
        <!-- end zalo -->
        <!-- Phone -->
        <div id="phone-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a href="tel:0247.3026.899">
                        <img src="/Content/GStoreWeb/images/img/images/phone.png">
                    </a>
                </div>
            </div>
        </div>
        <!-- end phone -->
    </div>
</div>
    <!-- end v3 class gom-all-in-one -->


<script type="text/javascript">
    jQuery("form[name='contactInfoFormFooter']").submit(function (e) {
        e.preventDefault();
    }).validate({
        rules: {
            Email: {
                email: true,
                required: true
            }
        },
        messages: {
            Email: {
                email: 'Bạn cần nhập đ&#250;ng định dạng email',
                required: 'Bạn phải nhập email'
            }
        },
        submitHandler: function (form) {
            jQuery.post(form.action, {
                dto: {
                    FullName: jQuery("input[name='FullName']").val(),
                    Email: jQuery("input[name='Email']").val(),
                    Title: jQuery("input[name='Title']").val(),
                    Message: jQuery("textarea[name='Message']").val()
                }
            }, function (res) {
                if (!res.error) {
                    var message = '';
                    if ('vi' == 'vi') {
                        message = "Chúng tôi đã nhận được thông tin liện hệ từ bạn.\nChúng tôi sẽ liên lạc với bạn sớm nhất có thể.\nCảm ơn!";
                    } else {
                        message = "We have received your message.\nWe will contact you as soon as possible.\nThanks!";
                    }
                    web365.utility.toastSuccess(message);
                    form.reset();
                }
            });
            $('#myModal').modal('toggle');
        }
    });

</script>

