@using Web365.App_Code
@using Web365Domain.Language
@using Web365Utility
@model IEnumerable<Web365Domain.MenuItem>
@{
    Layout = null;
    var languages = ViewBag.Languages as List<LanguageItem>;
}

<header>
    <div class='overlay'></div>
    <nav class="nav__bar">
        <div class="nav__logo">
            <a href="/">
                <img src="~/Content/GStoreWeb/images/img/images/logo3.png" style="width:98%"/>
            </a>
        </div>
        <ul class="list__nav" id="nav">
            <li><a href="/" title="">Trang chủ</a></li>
            @if (Model != null && Model.Any())
            {
                foreach (var menu in Model.Where(c => !c.Parent.HasValue || c.Parent == Convert.ToInt32(ConfigWeb.MenuParentId)))
                {
                    <li @(Model.Any(m => m.Parent == menu.ID) ? "class=dropdown" : "")>
                        @HiconHtmlHelper.MakeParentLanguageHyperLink(ViewContext.RouteData, menu.Name, menu.Link, (Model.Any(m => m.Parent == menu.ID)))
                        @if (Model.Any(m => m.Parent == menu.ID))
                        {
                            <ul class="">
                                @foreach (var child in Model.Where(m => m.Parent == menu.ID))
                                {
                                    <li>
                                        @HiconHtmlHelper.MakeLanguageHyperLink(ViewContext.RouteData, child.Name, child.Link)
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            }


        </ul>
        <div class="hamburger">
            <div class="ham1"></div>
            <div class="ham1"></div>
            <div class="ham1"></div>
        </div>
    </nav>
   
   

</header>


