@import '../color/color';
.images__blogs{
    img{
        width: 100%;
        height: auto;
    }
    .row__blogs{
        padding-bottom: 35px;
        align-items: center;
    }
    text-align: justify;
    a{
        text-decoration: none;
        color: $black;
        font-weight: bold;
    }
    .date__blog{
        padding: 6px 16px;
        border-radius: 10px;
        background: $yellow;
        width: fit-content;
        margin: 20px 0px;
        color: $white;
        font-weight: bold;
    }
    p{
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .col__content{
        padding-top: 20px;
        position: relative;
        .date__blog{
            position: absolute;
            top: -44px;
            left: 40px;
            padding: 6px 26px;
        }
        p{
            padding-bottom: 20px;
        }
    }
}