<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-A0IF6O2;Initial Catalog=hicon;Integrated Security=False;user id=sa;password=123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ThaiSonCorp;Integrated Security=False;user id=bsc;password=123@123a;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=ThaiSonCorp;Integrated Security=False;user id=sonnichkhun;password=khongbietdau000;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="Entities365" connectionString="metadata=res://*/Entities365.csdl|res://*/Entities365.ssdl|res://*/Entities365.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ThaiSonCorp;Persist Security Info=True;User ID=sonnichkhun;password=khongbietdau000;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ThumbWidth" value="150"/>
    <add key="ThumbHeight" value="150"/>
    <add key="TempUpload" value="/App_Data/Temp/"/>
    <add key="UploadImage" value="/"/>
    <add key="UploadImage" value="/UploadFile/Images/"/>
    <add key="UploadImageThumb" value="/UploadFile/ImageThumbs/"/>
    <add key="UploadDocument" value="/UploadFile/Documents/"/>
    <add key="UploadMultimedia" value="/UploadFile/Multimedia/"/>
    <add key="UploadFile" value="/UploadFile/Files/"/>
    <add key="UseCache" value="false"/>
    <add key="UseOutputCache" value="false"/>
    <add key="MinOnline" value="10"/>
    <add key="PageSizeNews" value="10"/>
    <add key="PageSizeProduct" value="16"/>
    <add key="MenuParentId" value="0"/>
    <add key="FeaturedProject" value="6"/>
    <add key="ListNewsInRootCate" value="4"/>
    <add key="FeaturedEventInLeft" value="4"/>
    <add key="TypicalFaceInLeft" value="4"/>
    <add key="FeaturedService" value="8"/>
    <add key="FeaturedNews" value="8"/>
    <add key="LastestNew" value="4"/>
    <add key="ListNewsInCate" value="10"/>
    <add key="DefaultLanguage" value="vi"/>
    <add key="ListCertificate" value="6"/>
    <add key="ListProject" value="12"/>
    <add key="ListOtherProjects" value="8"/>
    <add key="FeatureImages" value="6"/>
    <add key="FeatureVideos" value="6"/>
    <add key="FeatureFiles" value="4"/>
    <add key="ArticleProjectTypeId" value="4"/>
    <add key="ListNewsInCategory" value="4"/>
    <add key="ListNewsRootCategoryId" value="7,24"/>
    <add key="EnableOptimizations" value="true"/>
	<!--Loại bài viết-->
    <add key="ArticleTypeOutstandingDesigns" value="68"/>
    <add key="ArticleTypeLeadership" value="69"/>
    <add key="OurService" value="3"/>
	<add key="Capacity" value="2"/>
	<add key="OpenLetter" value="70"/>
	   
	  
    <add key="elmah.mvc.disableHandler" value="false"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false"/>
    <add key="elmah.mvc.requiresAuthentication" value="false"/>
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false"/>
    <add key="elmah.mvc.allowedRoles" value="*"/>
    <add key="elmah.mvc.allowedUsers" value="*"/>
    <add key="elmah.mvc.route" value="elmah"/>
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true"/>
    <add key="HomepageNewsInCategory" value="63"/>
    <!--TuNT  14/04/2017  Config type project to load homepage. If have english cateogry, setting value = "12,xxx" voi xxx la id cate tieng anh-->
    <add key="ProjectTMDV" value="12"/>
    <!--Thương mại & dịch vụ-->
    <add key="ProjectBDS" value="13"/>
    <!--Bất động sản-->
    <add key="ProjectKCN" value="59"/>
    <!--Phát triển khu công nghiệp-->
    <add key="ProjectGT" value="60"/>
    <!--Giao thông-->
    <add key="ProjectCTDD" value="61"/>
    <!--Công trình dân dụng-->
    <add key="ProjectKHAC" value="62"/>
    <!--Dự án khác-->
    <!--TuNT  14/04/2017  Config type project to load homepage-->
    <!--TuNT  15/04/2017  Fix news id for introcution page-->
    <add key="Introduction" value="1503"/>
    <add key="IntroductionEn" value="1504"/>
    <add key="RightPageAbility" value="22"/>
    <!--key load right news-->
    <!--TuNT  15/04/2017  Fix news id for introcution page-->
    <!--DUYETLV-->
    <!--Id tin tức thời sự-->
    <add key="OtherNewsRightBarInCategory" value="63"/>
    <!--Số lượng tin tức thời sự trên trang chủ-->
    <add key="OtherNewsRightBarInCategoryQuantity" value="10"/>
    <!--Id Thành tựu nổi bật-->
    <add key="AchievementHighlight" value="25"/>
    <!--Số lượng thành tưu nổi bật trên trang chủ-->
    <add key="AchievementHighlightQuantity" value="6"/>
    
    <add key="TopHighlightInNewsEvents" value="6"/>
    <add key="TopOtherInNewsEvents" value="6"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericError.htm">
      <error statusCode="500" redirect="/not-found"/>
      <error statusCode="404" redirect="/not-found"/>
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="MvcPaging"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <elmah/>
</configuration>
<!--ProjectGuid: {85FEBCDC-0A2B-4280-88A2-669CC625CC4F}-->