<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=125.212.226.147;Initial Catalog=ThaiSonCorp;Persist Security Info=True;User ID=website;Password=My14)^TuLinh@;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	<add name="Entities365" connectionString="metadata=res://*/Entities365.csdl|res://*/Entities365.ssdl|res://*/Entities365.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=125.212.226.147;Initial Catalog=ThaiSonCorp;Persist Security Info=True;User ID=website;Password=My14)^TuLinh@;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
 
	  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-LMG4LBO\SQL2019;Initial Catalog=GStore_Web_Dev;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	  <add name="Entities365" connectionString="metadata=res://*/Entities365.csdl|res://*/Entities365.ssdl|res://*/Entities365.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-LMG4LBO\SQL2019;Initial Catalog=GStore_Web_Dev;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ThumbWidth" value="600" />
    <add key="ThumbHeight" value="400" />
    <add key="TempUpload" value="/App_Data/Temp/" />
    <add key="UploadImage" value="/UploadFile/Images/" />
    <add key="UploadImageThumb" value="/UploadFile/ImageThumbs/" />
    <add key="UploadDocument" value="/UploadFile/Documents/" />
    <add key="UploadMultimedia" value="/UploadFile/Multimedia/" />
    <add key="UploadFile" value="/UploadFile/Files/" />
    <add key="UseCache" value="false" />
    <add key="UseOutputCache" value="false" />
    <add key="MinOnline" value="10" />
    <add key="PageSizeNews" value="10" />
    <add key="EnableOptimizations" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
	  <!--Phuong tao fix ID lay Tính Năng Định Vị & Phân Loại Vượt Trội ngay 05/08/2021-->
	  <add key="tinhnangdinhvivaphanloaivuottroi" value="63"/>
	  <!--Phuong tao fix ID lay Ungdung ngay 05/08/2021-->
	  <add key="Ungdung" value="1767"/>
	  <!--Phuong tao fix ID lay Ungdung ngay 05/08/2021-->
	  <add key="Gioithieucongty" value="1777"/>
	  <!--Phuong tao fix ID lay Gioithieuapp ngay 05/08/2021-->
	  <add key="Gioithieuapp" value="1741"/>
	  <!--Phuong tao fix ID lay tải ứng dụng ngay 05/08/2021-->
	  <add key="taiungdung" value="67"/>
	  <!--Phuong tao fix ID lay tải ứng dụng ngay 05/08/2021-->
	  <!--Phuong tao fix ID Về chúng tôi ngay 05/08/2021-->
	  <add key="vechungtoi" value="75"/>
	  <!--Phuong tao fix ID Về chúng tôi ngay 05/08/2021-->
	  <!--Phuong tao fix ID Manhinhapp ngay 05/08/2021-->
	  <add key="Manhinhapp" value="73"/>
	  <!--Phuong tao fix ID Manhinhapp ngay 05/08/2021-->
  </appSettings>
  <system.web>
    <globalization culture="vi-vn" uiCulture="vi-vn" />
    <authentication mode="Forms">
      <forms loginUrl="/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
  </elmah>
</configuration>