@using Web365.App_Code
@using Web365Domain
@using Web365Utility
@model Web365Models.ListArticleModel
@{
    Layout = "~/Views/Shared/_LayoutTrangTrong.cshtml";
    ViewBag.Title = Model.Type.Name;
    ViewBag.Description = Model.Type.SEODescription;
    ViewBag.Keywords = Model.Type.SEOKeyword;
}



<div class="overlay"></div>
<div class="container-fluid title-page">
    <h1>@Model.Type.Name</h1>
</div>





<div class="container row__up" id="features">
    <h2 class="d-flex justify-content-center font-weight-bold">
        Tính năng định vị & Phân loại vượt trội
    </h2>
    <p class="title">
        G-STORE là ứng dụng tuyệt vời để tìm kiếm và kết nối giao thương dựa
        trên nhu cầu thực tiễn của người mua và người bán
    </p>
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 column">
            <div class="content right">
                <div class="right-icons">
                    <div class="card  iconfeature">
                        <i class="far fa-compass"></i>
                    </div>
                </div>
                <p class="title-text">Định Vị</p>
                <p>Định vị thông minh cùng tính năng lọc theo điểm bán với vị trí gần nhất</p>
            </div>
            <div class="content right">
                <div class="right-icons">
                    <div class="card  iconfeature">
                        <i class="fas fa-filter"></i>
                    </div>
                </div>
                <p class="title-text">Phân Loại</p>
                <p>
                    Bộ lọc và tìm kiếm thông minh dựa trên những tiêu chí thiết thực như:
                    giá thành, vị trí,... đem lại lợi ích, thuận tiện cho khách hàng
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center m-auto ">
            <img class="img-fluid" src="~/Content/GStoreWeb/images/img/images/phone_white-02.png" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 column">
            <div class="content left">
                <div class="left-icons">
                    <div class="card  iconfeature">
                        <i class="far fa-bookmark"></i>
                    </div>
                </div>
                <p class="title-text">Đề Xuất</p>
                <p>
                    Đề xuất những mặt hàng tốt nhất phù hợp nhu cầu và thói quen người dùng và giá thành sản phẩm
                </p>
            </div>
            <div class="content left">
                <div class="left-icons">
                    <div class="card  iconfeature">
                        <i class="fad fa-star"></i>
                    </div>
                </div>
                <p class="title-text">Đánh Giá</p>
                <p>
                    Hiển thị đánh giá, xếp hạng, mức độ yêu thích chính xác giúp người dùng lựa chọn đúng đắn trong giao dịch
                </p>
            </div>
        </div>
    </div>
</div>












