@using Web365.App_Code
@using Web365Domain
@using Web365Utility
@model Web365Domain.ArticleItem
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.SEODescription;
    ViewBag.Keywords = Model.SEOKeyword;
    ViewBag.Image = (Model.Picture != null ? Web365Utility.GetPathPicture(Model.Picture.FileName) : "");
    //ViewBag.Url = HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, Model.ArticleType.NameAscii + "/" + Model.TitleAscii);
    Layout = "~/Views/Shared/_LayoutTrangTrong.cshtml";
    ViewBag.Title = "Giới thiệu";
    <link href="~/Content/GStoreWeb/scss/introduction/Subscription.module.css" rel="stylesheet" />

}

<div class="container-fluid title-page">
    <h1>@Model.Title</h1>
</div>


<div class="container-fluid" id="introduction">
    <div class="container">
        <div data-aos="fade-up">
            <h2>Video giới thiệu app <span>G-Store</span></h2>
            <div class="layout__intro container container__get">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                        <iframe id="video__intro"
                                src="https://www.youtube.com/embed/RGJVQj5Sczw"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-button col-md-4 col-lg-2">
                        <div class="introduction__button">
                            <i class="fas fa-play"></i>
                            <span class="ripple"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/GStoreWeb/js/button.js"></script>