@using Web365.App_Code
@model Web365Domain.ArticleItem
@{
    Layout = "~/Views/Shared/_LayoutTrangTrong.cshtml";
    ViewBag.Title = "Ứng dụng";


    <link href="~/Content/GStoreWeb/scss/application/application.css" rel="stylesheet" />
}


<div class="container-fluid title-page">
    <h1>Hướng Dẫn Cài Đặt Ứng Dụng G-STORE</h1>
</div>
<!-- application -->
<div class="container">
    <div class="wrapper">
        <ul>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 1:</h4>
                        <p>
                            Sau khi tải ứng dụng G-STORE từ AppStore (đối với IOS) và
                            CH-Play (đối với Android). Sau khi cửa sổ hiện ra, quý khách
                            hàng nhập số điện thoại để tạo tài khoản trên ứng dụng
                            G-STORE.
                        </p>
                        <div class="btn__row">
                            <button class='btn__ios'><i class="fab fa-apple"></i><a href='https://apps.apple.com/vn/app/g-store/id1537350489' style="color:white"> Appstore</a> </button>
                            <button class='btn__adr'><i class="fab fa-android"></i><a href='https://play.google.com/store/apps/details?id=com.company.gstore_app' style="color:white">Android</a>  </button>
                        </div>
                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="Content/GStoreWeb/images/img/images/ScreenApp/1.PNG" />
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 2:</h4>
                        <p>
                            Khi ấn vào ô nhập số điện thoại, quý khách hàng nhập số
                            điện thoại để tiếp tục. Sau đó hệ thống sẽ gửi về 1 mã
                            OTP gồm 6 số đến số điện thoại của quý khách.
                        </p>

                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="Content/GStoreWeb/images/img/images/ScreenApp/2.PNG" />
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 3:</h4>
                        <p>
                            Cập nhật ảnh đại diện và thông tin cá nhân.
                        </p>

                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="~/Content/GStoreWeb/images/img/images/imagecompressor/buoc3.PNG" />
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 4:</h4>
                        <p>
                            Vào Sổ địa chỉ - Cá nhân, chọn Thêm địa chỉ mới  để tạo địa chỉ mặc định của Shop
                        </p>
                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="~/Content/GStoreWeb/images/img/images/imagecompressor/buoc4.PNG" />
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 5:</h4>
                        <p>
                            Quay lại Trang chủ và trải nghiệm các tính năng của App G-Store
                        </p>
                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="~/Content/GStoreWeb/images/img/images/imagecompressor/buoc5.PNG" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>