@using Web365.App_Code
@model Web365Domain.ArticleItem
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ứng dụng";
    
}


<div class="container-fluid title-page">
    <h1>Hướng Dẫn Cài Đặt Ứng Dụng G-STORE</h1>
</div>
<!-- application -->
<div class="container">
    <div class="wrapper">
        <ul>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 1:</h4>
                        <p>
                            Sau khi tải ứng dụng G-STORE từ AppStore (đối với IOS) và
                            CH-Play (đối với Android). Sau khi cửa sổ hiện ra, quý khách
                            hàng nhập số điện thoại để tạo tài khoản trên ứng dụng
                            G-STORE.
                        </p>
                        <div class="btn__row">
                            <button class="btn__dl" id="1"><i class="fab fa-apple"></i> Tải trên appstore</button>
                            <button class="btn__dl" id="2"><i class="fab fa-android"></i> Tải trên CHPLAY</button>
                        </div>
                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="Content/GStoreWeb/images/img/images/ScreenApp/1.PNG" />
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 2:</h4>
                        <p>
                            Khi ấn vào ô nhập số điện thoại, quý khách hàng nhập số
                            điện thoại để tiếp tục. Sau đó hệ thống sẽ gửi về 1 mã
                            OTP gồm 6 số đến số điện thoại của quý khách.
                        </p>

                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="Content/GStoreWeb/images/img/images/ScreenApp/2.PNG" />
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 3:</h4>
                        <p>
                            Sau khi nhập mã OTP 6 số, quý khách sẽ hiện ra màn hình
                            chính với đầy đủ các tính năng trên ứng dụng G-STORE.
                        </p>

                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="Content/GStoreWeb/images/img/images/ScreenApp/3.PNG" />
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                        <h4>Bước 4:</h4>
                        <p>
                            Khu vực danh mục của ứng dụng G-STORE với đầy đủ các sản
                            phẩm, dịch vụ quý khách cần tìm kiếm.
                        </p>
                    </div>
                    <div class="img col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <img src="Content/GStoreWeb/images/img/images/ScreenApp/4.PNG" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>