@using Web365.App_Code
@using Web365Domain
@using Web365Utility
@model Web365Domain.ArticleItem
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.SEODescription;
    ViewBag.Keywords = Model.SEOKeyword;
    ViewBag.Image = (Model.Picture != null ? Web365Utility.GetPathPicture(Model.Picture.FileName) : "");
    Layout = "~/Views/Shared/_LayoutTrangTrong.cshtml";
    ViewBag.Title = "Ứng dụng";
    <link href="~/Content/GStoreWeb/scss/application/application.css" rel="stylesheet" />
}

<div class="container-fluid title-page">
    <h1>@Model.Title</h1>
</div>
<!-- application -->
<div class="container">
    <div class="wrapper">
        @Html.Raw(Model.Detail)
    </div>
</div>