@using Web365.App_Code
@using Web365Domain
@using Web365Utility
@model Web365Domain.ArticleItem
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.SEODescription;
    ViewBag.Keywords = Model.SEOKeyword;
    ViewBag.Image = (Model.Picture != null ? Web365Utility.GetPathPicture(Model.Picture.FileName) : "");
    //ViewBag.Url = HiconHtmlHelper.GetHyperLinkWithLanguage(ViewContext.RouteData, Model.ArticleType.NameAscii + "/" + Model.TitleAscii);
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_LayoutTrangTrong.cshtml";    
}
<!-- abooutus -->
<div class="container-fluid title-page">
    <h1>@Model.Title</h1>
</div>
<div id="aboutus" class="container-fluid" data-aos="fade-in" style="
    margin-top: 0px">
    <div class="title">
        <h2>@Model.Title</h2>
        <p>@Html.Raw(Model.Summary)</p>
    </div>
    @Html.Raw(Model.Detail)
</div>
